<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-nav mr-auto d-flex justify-content-around" id="navbarColor03">
  <h2><font color="black">Welcome to the Confessional!</font></h2>
  <%= button_to('Login', new_user_session_path)  %>
</nav
<%= react_component('UnauthenticatedApp') %>
