/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .app {
     margin: 3em auto;
     width: 90%;
 }

 .gif-item {
     box-shadow: 2px 2px 4px 0 #ccc;
     box-sizing: border-box;
     display: inline-block;
     margin: 0 0 1.5em;
     padding: 1em;
     width: 100%;
 }

 .gif-item img {
     width: 100%;
 }

 .gif-list {
     column-gap: 1.5em;
     font-size: .85em;
     margin: 1.5em 0;
     padding: 0;
 }

 input {
     display: block;
     font-size: 22px;
     height: 50px;
     margin: 0 auto;
     text-align: center;
     width: 50%;
 }

 @media only screen and (min-width: 400px) {
     .gif-list {
         -moz-column-count: 2;
         -webkit-column-count: 2;
         column-count: 2;
     }
 }

 @media only screen and (min-width: 700px) {
     .gif-list {
         -moz-column-count: 3;
         -webkit-column-count: 3;
         column-count: 3;
     }
 }

 @media only screen and (min-width: 900px) {
     .gif-list {
         -moz-column-count: 4;
         -webkit-column-count: 4;
         column-count: 4;
     }
 }

 @media only screen and (min-width: 1100px) {
     .gif-list {
         -moz-column-count: 5;
         -webkit-column-count: 5;
         column-count: 5;
     }
 }

 @media only screen and (min-width: 1280px) {
     .app {
         width: 1140px;
     }
 }
