// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin-left: 5%;
}
.actions {
    margin-top: 10px;
}
h1, h2 {
    font-family: fantasy;
    margin-top: 15px;
}
h1 {
    text-align: center;
}
label{
    margin-right: 15px;
}
input {
    margin-right: 5px;
}
form {
    margin-bottom: 15px;
}
